* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle,rgb(255,0,156) 10%,rgb(91,20,111) 30%);
}
#main {
    position: relative;
}
#container {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circle {
    height: 350px;
    width: 350px;
    border: 10px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0px 0px 20px black,0px 0px 20px black;
}
#point {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    z-index: 10;
}
#sec-stick,#min-stick {
    height: 140px;
    width: 10px;
    background-color: rgb(91,20,111);
    position: absolute;
    border-radius: 6px;
    bottom: 50%;
    transform-origin: 50% 100%;
}
#min-stick {
    height: 100px;
    background-color: rgb(39, 6, 48);
}
#time {
    height: 40px;
    width: 100px;
    background-color: #1565c0;
    box-shadow: 0 0 10px #1565c0;
    position: absolute;
    top: 75%;
    z-index: -1;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(233, 37, 37);
}
.text {
    position: absolute;
    text-align: center;
    width: 400px;
}

@media (max-width:768px){
    body {
        background: radial-gradient(circle,rgb(255,0,156) 10%,rgb(91,20,111) 60%);
    }
}